

@using System.Net;
@using System.Web
@using Microsoft.Extensions.Options
@using Tolab.Common
@model IEnumerable<TolabPortal.DataAccess.Models.StudentHomeCourse>
@inject IOptions<ApplicationConfig> options;

@{
    var config = options.Value;

    ViewBag.IsHomeCoursesPage = true;
}


<!-- ================================
       START COURSE AREA
================================= -->
<section class="course-area section--padding  pt-60px pb-40px bg-grligh">
    <div class="container">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show course-alert-info">
                <div class="d-flex align-items-center">
                    <i class="la la-info-circle fs-30 mr-2"></i> @ViewBag.SuccessMessage
                </div>
                <button type="button" class="close fs-20 pd-16" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" class="la la-times"></span>
                </button>
            </div>
        }


        @foreach (var homeCourse in Model)
        {
            <div class="headinglist">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <h2> @homeCourse.CategoryNameLT  - @homeCourse.SubCategoryNameLT </h2>
                </div><!-- end filter-bar-inner -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        @foreach (var subject in homeCourse.SubjectCourses)
                        {
                            if (subject.CountCourses <= 0)
                                continue;

                            var trackDetailsEndPoint = $"/Subjects/Track?trackId={subject.TrackId}";

                            <div class="col-lg-4 responsive-column-half">
                                <div class="card card-item card-preview full-height">
                                    <div class="card-image">
                                        <a href="@trackDetailsEndPoint" class="d-block">
                                            <img class="card-img-top lazy catimg" src="/images/img-loading-ar.png" data-src="@config.MediaBaseUrl/ws/Images/TeacherSubjectImages/@subject.TrackImage">
                                        </a>
                                        @*<div class="course-badge-labels">
                                            <div class="course-badge">لغة عربية</div>
                                        </div>*@
                                        <div class="teachername">
                                            <img class="card-img-top lazy" src="/images/img-loading-ar.png" data-src="@config.MediaBaseUrl/ws/Images/TeacherImages/@subject.TeacherPhoto">
                                            <p class="card-text txtbold">@subject.TeacherName</p>
                                        </div>
                                    </div><!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title mb-2"><a href="@trackDetailsEndPoint">@subject.TrackNameLT</a></h5>
                                        <h6 class="ribbon ribbon-purpl-bg fs-14 txtbold mb-2">@subject.CountCourses كورسات</h6>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col-lg-6 -->
                        }

                    </div><!-- end row -->
                </div><!-- end col-lg-8 -->
            </div><!-- end row -->
        }



    </div><!-- end container -->
</section><!-- end courses-area -->
<!-- ================================
       END CONTACT AREA
================================= -->
