@model List<TolabPortal.DataAccess.Models.StudentLiveHome>
@{

    var interest = (TolabPortal.Models.GetStudentProfileModel.Interest)ViewBag.Interest;

    ViewBag.CurrentPageTitle = "البث المباشر";
    var items = new string[] { "الرئيسية", "البث المباشر" };
    ViewBag.MenuItems = items;
}


@foreach (var liveCategories in Model)
{
    @section LivesPageCustomSection {
        <div class="headinglist">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <h2> @liveCategories.CategoryNameLT - @liveCategories.SubCategoryName </h2>
            </div><!-- end filter-bar-inner -->
        </div>
    }
    foreach (var live in liveCategories.Lives)
    {
        var liveDetailsEndPoint = $"/Lives/liveDetails?liveId={live.Id}";

        <!-- Showing lives of current categorys -->
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-item card-preview card-preview card-item-list-layout">
                            <div class="card-image">
                                <a href="@liveDetailsEndPoint" class="d-block">
                                    <img class="card-img-top lazy" src="images/img-loading-ar.png" data-src="images/course003.jpg">
                                </a>
                                <div class="course-badge-labels">
                                    <img src="images/live-active.svg" width="55">
                                </div>
                            </div><!-- end card-image -->
                            <div class="card-body">
                                <h6 class="ribbon ribbon-gray-bg fs-14 mb-3">@live.LiveRemainingTime </h6>
                                <h5 class="card-title mb-1"><a href="#">@live.LiveName</a></h5>
                                <p class="card-text text-color">@live.TeacherName </p>
                                <div class="rating-wrap d-flex align-items-center py-2">
                                    <span class="rating-total"><img src="images/time.svg" width="14"> @live.Duration </span>
                                    <span class="rating-total pl-3"><img src="images/subscriber.svg" width="16">  @live.SubscriptionCount مشترك  </span>
                                </div><!-- end rating-wrap -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="card-price text-black font-weight-bold">@live.CurrentCost <span class="before-price font-weight-medium"> @live.PreviousCost </span></p>
                                    <a href="@liveDetailsEndPoint" class="btn theme-btn">تفاصيل</a>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    }
}