@{
    Layout = "_DetailsLayout";
}

@using System.Collections.Specialized
@using Microsoft.Extensions.Options
@using Tolab.Common
@model TolabPortal.DataAccess.Models.LiveDetails;
@inject ISessionManager sessionManager;
@inject IOptions<ApplicationConfig> options;

@{
    ViewBag.itemDetails = Model.ItemDetails;
    var config = options.Value;

}

<link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.0.1/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.0.1/css/react-select.css" />

<script src="https://source.zoom.us/2.0.1/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/2.0.1/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/2.0.1/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/2.0.1/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/2.0.1/lib/vendor/lodash.min.js"></script>
<script src="https://source.zoom.us/2.0.1/zoom-meeting-embedded-2.0.1.min.js"></script>
@*<script src="https://source.zoom.us/zoom-meeting-2.0.1.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--======================================
        START COURSE DETAILS AREA
======================================-->
<section class="course-details-area pb-20px bg-grligh">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pb-5">
                <div class="course-details-content-wrap pt-50px">
                    @if (Model.IsCurrentStudentSubscribedToLive)
                    {

                        // ========== Remove below code that rendering a video from remote url and use ZOOM SDK instead ==========

                        <!--<div class="course-overview-card">
                            <video controls crossorigin playsinline id="player">-->
                        <!-- Video files -->
                        <!--<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" />
                                <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" />
                                <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" />
                            </video>
                        </div>-->
                        <!-- end course-overview-card -->

                        <button id="btnJoinMeeting" class="btn btn-primary">Join Meeting</button>


                        <div id="meetingSDKElement" style="width: 500px;height: 500px">
                        </div>



                        <script>

                            $('#btnJoinMeeting').click(function() {



                                var client = ZoomMtgEmbedded.createClient();

                                var meetingSDKElement = document.getElementById('meetingSDKElement');

                                client.init({
                                    debug: true,
                                    disableInvite: true,
                                    disableCallOut: true,
                                    disableRecord: true,
                                    videoDrag: false,
                                    zoomAppRoot: meetingSDKElement,
                                    language: 'en-US',
                                    meetingInfo: [
                                        'topic',
                                        'host',
                                        'enctype',
                                    ],
                                    customize: {
                                        meetingInfo: ['topic', 'host'],
                                        toolbar: {
                                        }
                                    }
                                });

                                var meetingNumber = '@Model.MeetingId';
                                var userName = '@sessionManager.UserName';
                                var apiKey = '@config.ZoomApiKey';
                                var userEmail = "";
                                var password = '@Model.MeetingPassword';

                                client.join({
                                    apiKey: apiKey,
                                    signature: '@Model.MeetingSignature',
                                    meetingNumber: meetingNumber,
                                    password: password,
                                    userName: userName
                                });
                            });


                        </script>
                    }
                    else
                    {
                        // If student is NOT subscribed yet, What we need to show ??
                    }

                    <!--<div class="course-overview-card">
                        <h3 class="fs-23 txtbold pb-3">تفاصيل البث</h3>
                        <p class="fs-15 pb-2">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. الهدف من استخدام Lorem Ipsum هو أنه يحتوي على توزيع طبيعي -إلى حد ما- للأحرف ، بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا"</p>
                    </div>-->
                    <!-- end course-overview-card -->
                    <!--<div class="course-overview-card">
                    <div class="curriculum-header d-flex align-items-center justify-content-between pb-4">
                        <h3 class="fs-23 txtbold">المرفقات</h3>
                    </div>
                    <div class="curriculum-content">
                        <div id="accordion" class="generic-accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="la la-plus"></i>
                                        <i class="la la-minus"></i>
                                        مذكرات
                                        <span class="fs-15 text-gray font-weight-medium text-color-9">(3) ملفات</span>
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="generic-list-item">
                                            <li>
                                                <a href="#" class="d-flex align-items-center justify-content-between text-color">
                                                    <span>
                                                        <i class="la la-file-pdf-o mr-1"></i>
                                                        ملخص المفعول المطلق
                                                    </span>
                                                    <span>35mb</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex align-items-center justify-content-between text-color">
                                                    <span>
                                                        <i class="la la-file-excel-o mr-1"></i>
                                                        ملخص المفعول المطلق الثاني
                                                    </span>
                                                    <span>200kb</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex align-items-center justify-content-between text-color">
                                                    <span>
                                                        <i class="la la-file-word-o mr-1"></i>
                                                        ملخص المفعول المطلق الثالث
                                                    </span>
                                                    <span>500kb</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>-->
                    <!-- end card-body -->
                    <!--</div>
                    </div>-->
                    <!-- end card -->
                    <!--<div class="card">
                    <div class="card-header" id="headingThree">
                        <button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="la la-plus"></i>
                            <i class="la la-minus"></i>
                            الإمتحانات والواجبات
                            <span class="fs-15 text-gray font-weight-medium text-color-9">2 واجبات</span>
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="generic-list-item">
                                <li>
                                    <a href="#" class="d-flex align-items-center justify-content-between text-color">
                                        <span>
                                            <i class="la la-file-text mr-1"></i>
                                            واجب رقم واحد
                                        </span>
                                        <span class="ribbon ml-2 fs-13">تم حله</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex align-items-center justify-content-between text-color">
                                        <span>
                                            <i class="la la-file-text mr-1"></i>
                                            واجب رقم اثنين
                                        </span>
                                        <span class="ribbon ribbon-gray-bg ml-2 fs-13">بانتظار حله</span>
                                    </a>
                                </li>
                            </ul>
                        </div>-->
                    <!-- end card-body -->
                    <!--</div>--><!-- end collapse -->
                    <!--</div>--><!-- end card -->
                    <!--</div>--><!-- end generic-accordion -->
                    <!--</div>--><!-- end curriculum-content -->
                    <!--</div>--><!-- end course-overview-card -->
                    <!--<div class="course-overview-card pt-4">
                    <h3 class="fs-23 txtbold pb-4">الأسئلة</h3>
                    <div class="review-wrap">
                        <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
                            <div class="media-img mr-4 rounded-full borderonew">
                                <img class="rounded-full lazy" src="images/student-1.jpg">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-wrap align-items-center justify-content-between pb-1">
                                    <h5 class="mb-2">يوسف حسن</h5>
                                </div>
                                <span class="d-block lh-18 pb-2">11 فبراير , 12:06 ص</span>
                                <p class="pb-2">
                                    مستر بعد اذن حضرتك في صفحة 66 في خصائص الكلاسكية الجديدة رقم واحد قايل التجربة الذاتية بس ده مش بيناقض انهم اهتموا بالغير ؟
                                </p>
                            </div>
                        </div>-->
                    <!-- end media -->
                    <!--<div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
                        <div class="media-img mr-4 rounded-full borderonew">
                            <img class="rounded-full lazy" src="images/student-2.jpg">
                        </div>
                        <div class="media-body">
                            <div class="d-flex flex-wrap align-items-center justify-content-between pb-1">
                                <h5 class="mb-2">اسلام طاحون</h5>
                            </div>
                            <span class="d-block lh-18 pb-2">11 فبراير , 12:06 ص</span>
                            <p class="pb-2">
                                مستر بعد اذن حضرتك في صفحة 66 في خصائص الكلاسكية الجديدة رقم واحد قايل التجربة الذاتية بس ده مش بيناقض انهم اهتموا بالغير ؟
                            </p>
                        </div>
                    </div>-->
                    <!-- end media -->
                    <!--<div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
                        <div class="media-img mr-4 rounded-full borderonew">
                            <img class="rounded-full lazy" src="images/student-3.jpg">
                        </div>
                        <div class="media-body">
                            <div class="d-flex flex-wrap align-items-center justify-content-between pb-1">
                                <h5 class="mb-2">رجاء قصابني</h5>
                            </div>
                            <span class="d-block lh-18 pb-2">11 فبراير , 12:06 ص</span>
                            <p class="pb-2">
                                مستر بعد اذن حضرتك في صفحة 66 في خصائص الكلاسكية الجديدة رقم واحد قايل التجربة الذاتية بس ده مش بيناقض انهم اهتموا بالغير ؟
                            </p>
                        </div>
                    </div>-->
                    <!-- end media -->
                    <!--</div>--><!-- end review-wrap -->
                    <!--<div class="see-more-review-btn text-center">
                            <button type="button" class="btn theme-btn theme-btn-transparent">عرض مزيد من الاسئلة</button>
                        </div>
                    </div>-->
                    <!-- end course-overview-card -->
                    <!--<div class="course-overview-card pt-4">
                    <h3 class="fs-23 txtbold pb-4">اضف سؤال جديد</h3>
                    <form class="row">
                        <div class="input-box col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control form--control pl-3" name="message" placeholder="اكتب سؤال هنا..." rows="5"></textarea>
                            </div>
                        </div>-->
                    <!-- end input-box -->
                    <!--<div class="btn-box col-lg-12">
                        <button class="btn theme-btn" type="submit">ارسال السؤال</button>
                    </div>-->
                    <!-- end btn-box -->
                    <!--</form>
                    </div>-->
                    <!-- end course-overview-card -->
                </div><!-- end course-details-content-wrap -->
            </div><!-- end col-lg-8 -->
            <div class="col-lg-4">
                <div class="sidebar sidebar-negative">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="preview-course-video">
                                <a>
                                    <img src="images/img-loading.png" data-src="/images/course001.jpg" class="w-100 rounded lazy screensh">
                                    <div class="preview-course-video-content">
                                        <div class="overlay"></div>
                                        @if (Model.LiveRemainingTime == "يعرض الآن")
                                        {
                                            <div class="play-button">
                                                <img class="soonlive" src="/images/live-active.svg">
                                            </div>
                                            <p class="fs-15 font-weight-bold text-white pt-3"> @Model.LiveRemainingTime </p>
                                        }
                                        else
                                        {
                                            <div class="play-button">
                                                <img class="soonlive" src="/images/live-inactive.svg">
                                            </div>
                                            <p class="fs-15 font-weight-bold text-white pt-3"> @Model.LiveRemainingTime </p>
                                        }
                                    </div>
                                </a>
                            </div><!-- end preview-course-video -->
                            <div class="preview-course-feature-content pt-30px">
                                <p class="d-flex align-items-center pb-40px">
                                    <span class="fs-35 font-weight-semi-bold text-black"> @Model.CurrentCost </span>
                                    <!--<span class="before-price mx-1">60 ج.م</span> -->
                                </p>
                                @if (Model.IsCurrentStudentSubscribedToLive)
                                {
                                    <div class="buy-course-btn-box pb-4">
                                        <div class="regdone">
                                            <img src="/images/check.svg" width="28"> تم الاشتراك
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @await Component.InvokeAsync("MyFatoorahPayment",
                                     new PayVm
                                         {
                                            InvoiceAmount = Model.CurrentCost,
                                            TransactionId = Model.Id.ToString(),
                                            TransactionType = (int)TransactionType.Course,
                                            ReturnRoute = $"/Lives/liveDetails?liveId={Model.Id}"
                                         })
                                }
                                <div class="preview-course-incentives">
                                    <h3 class="card-title fs-18 pb-2">معلومات البث</h3>
                                    <ul class="generic-list-item">
                                        <li><img class="mr-2" src="images/time.svg" width="14">@(Model.Duration) دقيقة  تشغيل</li>
                                        <li><img class="mr-2" src="images/subscriber.svg" width="14">@Model.SubscriptionCount مشترك</li>
                                    </ul>
                                </div><!-- end preview-course-incentives -->
                            </div><!-- end preview-course-content -->
                        </div>
                    </div><!-- end card -->
                </div><!-- end sidebar -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end course-details-area -->
<!--======================================
        END COURSE DETAILS AREA
======================================-->

@section scripts{

}