@model  PaymentViewModel

@{
    ViewData["Title"] = "Payment";
}

<div class="card card-item">
    <div class="card-body">
        <form method="post" asp-action="ExecutePayment" asp-controller="Payment" class="pt-2">
            <input hidden id="InvoiceValue" asp-for="InvoiceValue" />
            <input hidden id="InvoiceValue" asp-for="MobileCountryCode" />
            <input hidden id="InvoiceValue" asp-for="CustomerMobile" />
            <input hidden id="InvoiceValue" asp-for="CustomerName" />
            <input hidden id="InvoiceValue" asp-for="CallBackUrl" />
            <input hidden id="ErrorUrl" asp-for="ErrorUrl" />
            وسيلة الدفع :
            @foreach (var method in Model.PaymentMethods)
            {
                <div>
                    <input type="radio" asp-for="PaymentMethodId" value="@method.PaymentMethodId" />
                    <div class="row-container align-center">
                        <img src="@method.ImageUrl" class="payment-logo">
                        <h5>@method.PaymentMethodAr</h5>
                    </div>
                    <h5 class="end-content">
                        @method.TotalAmount  @method.PaymentMethodCode
                    </h5>

                </div>


            }
            <button type="submit" class="btn theme-btn pullone">ادفع الان <i class="la la-arrow-right icon ml-1"></i></button>

        </form>
    </div>
</div>






 