
@model TolabPortal.DataAccess.Models.SectionResponse

@{
    ViewBag.CurrentPageTitle = "اختر المرحلة";
    var items = new string[] { "الرئيسية", "اختر المرحلة" };
    ViewBag.MenuItems = items;
}

@if (ViewBag.HasError != null && ViewBag.HasError == true)
{
    <div class="alert alert-danger2 alert-dismissible fade show course-alert-info">
        <div class="d-flex align-items-center">
            <i class="la la-info-circle fs-30 mr-2"></i> لم يتم اختيار مرحلة تعليمية
        </div>
        <button type="button" class="close fs-20 pd-16" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-times"></span>
        </button>
    </div>
}

<div class="card card-item">
    <div class="card-body">
        <form class="pt-2" method="post" asp-action="RegisterSection" asp-controller="Interest">
            <p class="mb-4">قم بتخصيص حسابك واختيار اهتمامتك</p>
            <div class="row">
                @if (Model?.Sections != null)
                {
                    foreach (var section in Model.Sections.ToList())
                    {
                        <div class="col-lg-12 responsive-column-half">
                            <div class="custom-control custom-radio mb-3 ml-0 pl-0">
                                <input type="radio" class="custom-control-input" id="@(section.Id)" name="sectionId" value="@(section.Id)">
                                <label class="custom-control-label custom--control-label custom--control-label-boxed noshadbord" for="@(section.Id)">
                                    <img src="@(section.Image)" class="chosimg">
                                    <span class="font-weight-semi-bold text-black d-block"> @(section.NameLT) </span>
                                </label>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="btn-box align-items-center justify-content-between mt-2 pullone">
                <button type="submit" class="btn theme-btn ml-3 ">التالي <i class="la la-arrow-right icon ml-1"></i></button>
            </div><!-- end btn-box -->
        </form>
    </div><!-- end card-body -->
</div><!-- end card -->