@using Microsoft.Extensions.Options
@using Newtonsoft.Json
@using Tolab.Common
@model TolabPortal.ViewModels.StudentProfileViewModel;
@inject IOptions<ApplicationConfig> options;

@{
    var config = options.Value;

    ViewBag.CurrentPageTitle = "الملف الشخصى";
    var items = new string[] { "الرئيسية", "الملف الشخصى" };
    ViewBag.MenuItems = items;
}

<style>

    #imageUpload {
        display: none;
    }

    #profileImage {
        cursor: pointer;
    }

        #profileImage:hover {
            opacity: 0.6;
        }
</style>

<section class="breadcrumb-area breadprof">
    <div class="container">
        <div class="breadcrumb-content text-left">
            <div class="media media-card align-items-center">
                <div class="media-img media--img media-img-md rounded-full">
                    <img id="profileImage" class="rounded-full lazy" src="/images/img-loading-ar.png" data-src="@config.MediaBaseUrl/ws/Images/StudentImages/@Model.Photo">
                    <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" accept="image/*">
                </div>
                <div class="media-body">
                    <h2 class="section__title fs-30">@Model.Name</h2>
                    <span class="d-block lh-18 pt-1 pb-2">منضم في @Model.CreationDateInArabic </span>
                </div>
            </div><!-- end media -->
        </div><!-- end breadcrumb-content -->
    </div><!-- end container -->
</section><!-- end breadcrumb-area -->

<section class="course-area section--padding  pt-30px pb-30px bg-grligh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex align-items-center pb-3">
                    <h3 class="fs-23 txtbold">بيانات شخصية </h3>
                    <div class="my-course-info-action ml-2">
                        <span class="la la-edit icon-element icon-element-xs cursor-pointer shadow-sm" data-toggle="modal" data-target="#editprofileModal" title="Edit Profile"></span>
                    </div>
                    <div class="my-course-info-action ml-2">
                        <span class="la la-user-lock icon-element icon-element-xs cursor-pointer shadow-sm" data-toggle="modal" data-target="#editpsswordModal" title="Edit Password"></span>
                    </div>
                </div>
                <div class="teacher-bar">
                    <ul class="ntonelist">
                        <li><i class="la la-envelope fs-17 mr-1"></i> البريد الإلكتروني : @Model.Email</li>
                        <li><i class="la la-mobile fs-17 mr-1"></i>الموبايل : @Model.Phone</li>
                        <li><i class="la la-file-video-o fs-17 mr-1"></i>عدد الكورسات : (@Model.NumberOfCourses)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="d-flex align-items-center pb-3 justify-content-between">
                    <h3 class="fs-23 txtbold">نشاطاتي</h3>
                    <a href="/interest/registersection" class="btn theme-btn theme-btn-sm">اضف نشاط جديد</a>
                </div>
                <div class="teacher-bar">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="actdiv justify-content-between d-flex align-items-center">
                            <div class="text-left">
                                <p class="txtbold text-darbl"> @category.NameLT </p>
                                <p> @category.SubCategories.FirstOrDefault().NameLT </p>
                                @foreach (var department in category.SubCategories.FirstOrDefault().Departments)
                                {
                                    <p> @department.NameLT </p>
                                }
                            </div>
                            <input id="category@(category.Id)" value="@category.Id" hidden />
                            <div class="my-course-info-action ml-2">
                                @*<span id="editInterest" class="la la-edit icon-element icon-element-xs cursor-pointer shadow-sm mb-1 mr-1" data-target="#editactModal" data-id="@(category.Id)"></span>*@
                                <span id="deleteInterest" class="la la-trash icon-element icon-element-xs cursor-pointer shadow-sm text-color-6" data-target="#deleteModal" data-id="@(category.SubCategories.FirstOrDefault().Id)" title="Delete"></span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div><!-- end container -->
</section><!-- end courses-area -->
<!-- Modal -->
<div class="modal fade modal-container" id="editprofileModal" tabindex="-1" role="dialog" aria-labelledby="editprofileModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-gray">
                <div class="pr-2">
                    <h5 class="modal-title fs-19 lh-24 txtbold" id="editprofileModalTitle">تعديل بياناتك الشخصية</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-times"></span>
                </button>
            </div><!-- end modal-header -->
            <div class="modal-body">
                <form method="post" asp-action="EditProfile" asp-controller="Home">
                    <div class="input-box">
                        <label class="label-text fs-13 txtbold">اسم الطالب</label>
                        <div class="form-group">
                            <input class="form-control form--control pl-3" type="text" name="Name" value="@Model.Name">
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="label-text fs-13 txtbold">البريد الإلكتروني</label>
                        <div class="form-group">
                            <input class="form-control form--control pl-3" type="text" name="Email" disabled="disabled" value="@Model.Email">
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="label-text fs-13 txtbold">النوع</label>
                        <div class="form-group d-flex align-items-center">
                            <div class="custom-control custom-radio fs-15 mr-3">
                                <input type="radio" class="custom-control-input" id="maleRadioCheck" name="Gender" value="true" required checked="@(Model.Gender == true ? "checked" : null)">
                                <label class="custom-control-label custom--control-label" for="maleRadioCheck">ذكر</label>
                            </div>
                            <div class="custom-control custom-radio fs-15">
                                <input type="radio" class="custom-control-input" id="femaleRadioCheck" name="Gender" value="false" required checked="@(Model.Gender == false ? "checked" : null)">
                                <label class="custom-control-label custom--control-label" for="femaleRadioCheck">أنثى</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="label-text fs-13 txtbold">نبذة عنك</label>
                        <div class="form-group">
                            <textarea class="form-control form--control pl-3" rows="4" name="Bio">@Model.Bio</textarea>
                        </div>
                    </div>
                    <div class="btn-box text-right pt-2">
                        <button type="button" class="btn font-weight-medium mr-3" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn theme-btn theme-btn-sm lh-30">حفظ التغييرات <i class="la la-arrow-right icon ml-1"></i></button>
                    </div>
                </form>
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end modal -->
<!-- Modal -->
<div class="modal fade modal-container" id="editpsswordModal" tabindex="-1" role="dialog" aria-labelledby="editpsswordModal" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-gray">
                <div class="pr-2">
                    <h5 class="modal-title fs-19 lh-24 txtbold" id="editpsswordModalTitle">تعديل كلمة المرور </h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-times"></span>
                </button>
            </div><!-- end modal-header -->
            <div class="modal-body">
                <form method="post" asp-action="ResetNewPasswordPost" asp-controller="Home">
                    <div class="input-box">
                        <label class="label-text fs-13 txtbold">كلمة المرور الجديدة</label>
                        <div class="input-group">
                            <span class="la la-lock input-icon"></span>
                            <input name="password" class="form-control form--control password-field" type="password" value="@Model?.Password">
                            <div class="input-group-append">
                                <button class="btn theme-btn theme-btn-transparent toggle-password" type="button">
                                    <svg class="eye-on" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" /></svg>
                                    <svg class="eye-off" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" /><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z" /></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="input-box mb-3">
                        <label class="label-text fs-13 txtbold">اعادة كلمة المرور الجديدة</label>
                        <div class="input-group">
                            <span class="la la-lock input-icon"></span>
                            <input name="rePassword" class="form-control form--control password-field" type="password" value="@Model?.RePassword">
                            <div class="form-group">
                                <button class="btn theme-btn theme-btn-transparent toggle-password" type="button">
                                    <svg class="eye-on" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" /></svg>
                                    <svg class="eye-off" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" /><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z" /></svg>
                                </button>
                            </div>
                        </div>
                    </div><!-- end input-box -->
                    <input hidden asp-for="IdentityId" value="@Model.IdentityId" />
                    <input hidden asp-for="Email" value="@Model.Email" />
                    <div class="btn-box text-right pt-2">
                        <button type="button" class="btn font-weight-medium mr-3" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn theme-btn theme-btn-sm lh-30">حفظ التغييرات <i class="la la-arrow-right icon ml-1"></i></button>
                    </div>
                </form>
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end modal -->


 

<!-- Modal -->
<div class="modal fade modal-container" id="newactModal" tabindex="-1" role="dialog" aria-labelledby="newactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-gray">
                <div class="pr-2">
                    <h5 class="modal-title fs-19 lh-24 txtbold" id="newactModalTitle">اضف نشاط جديد</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-times"></span>
                </button>
            </div><!-- end modal-header -->
            <div class="modal-body">
                <form class="pt-2">
                    <p class="mb-4">قم بتخصيص حسابك واختيار اهتمامتك</p>
                    <div class="row">
                        @foreach (var interest in Model.Interests)
                        {
                            <div class="col-lg-12 responsive-column-half">
                                <div class="custom-control custom-radio mb-3 ml-0 pl-0">
                                    <input type="radio" class="custom-control-input" id="school" name="radio-stacked">
                                    <label class="custom-control-label custom--control-label custom--control-label-boxed noshadbord" for="school">
                                        <img src="@config.MediaBaseUrl/ws/Images/SectionImages/@(interest.SectionImage)" class="chosimg">
                                        <span class="font-weight-semi-bold text-black d-block">@interest.SectionNameLT</span>
                                    </label>
                                </div>
                            </div><!-- end col-lg-2 -->
                        }
                    </div>
                    <div class="btn-box text-right pt-2">
                        <button type="button" class="btn font-weight-medium mr-3" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn theme-btn theme-btn-sm lh-30">التالي <i class="la la-arrow-right icon ml-1"></i></button>
                    </div>
                </form>
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end modal -->
<!-- Modal -->
<div class="modal fade modal-container hid" id="editactModal" tabindex="-1" role="dialog" aria-labelledby="editactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-gray">
                <div class="pr-2">
                    <h5 class="modal-title fs-19 lh-24 txtbold" id="editactModalTitle">تعديل النشاط</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-times"></span>
                </button>
            </div><!-- end modal-header -->
            <div class="modal-body">
                <form class="pt-2" method="POST">
                    <div id="editInterestContent"></div>
                    <div class="btn-box align-items-center justify-content-between mt-2 pullone">
                        <button type="button" class="btn font-weight-medium mr-3" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn theme-btn theme-btn-sm lh-30">حفظ التغييرات  <i class="la la-arrow-right icon ml-1"></i></button>
                    </div><!-- end btn-box -->
                </form>
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end modal -->
<!-- Modal -->
<div class="modal fade modal-container" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="la la-exclamation-circle fs-60 text-warning"></span>
                <h4 class="modal-title fs-19 font-weight-semi-bold pt-2 pb-1" id="deleteModalTitle">حذف النشاط</h4>
                <p>هل أنت متأكد من الحذف ؟</p>
                <div class="btn-box pt-4">
                    <button type="button" class="btn font-weight-medium mr-3" data-dismiss="modal">لا</button>
                    <button type="submit" class="btn theme-btn theme-btn-sm lh-30" id="deleteBtn">حسنًا ، احذف</button>
                </div>
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end modal -->

@section Scripts
{
    <script>

        //#region Uploading user profile photo
        $('body').on('click', '#profileImage', function () {
            $("#imageUpload").click();
        });

        $('body').on('change', '#imageUpload', function () {

            var fd = new FormData();
            var files = this.files;

            // Check if file selected + Validate image type and image file size
            if (files.length > 0 && IsValidateImage(files[0])) {

                img = new Image();
                var _URL = window.URL || window.webkitURL;
                img.src = _URL.createObjectURL(files[0]);

                img.onload = function () {
                    var imageWidth = this.width;
                    var imageheight = this.height;

                    // Only upload image when it's dimensions are less than 900
                    if (imageWidth <= 900 && imageheight <= 900) {
                        fd.append('file', files[0]);

                        var currentImageUrl = $('#imageUpload').attr('src');

                        // preview loading spinner
                        $('#profileImage').attr('src', "/images/loading-waiting.gif");

                        $.ajax({
                            url: '/UploadPhoto',
                            type: 'post',
                            data: fd,
                            contentType: false,
                            processData: false,
                            success: function (imageFileName) {
                                if (imageFileName != "no photo") {
                                    var imageFullPath = "https://tollab.azurewebsites.net/ws/Images/StudentImages/" + imageFileName;
                                    console.log("image path: " + imageFullPath);
                                    $('#profileImage').attr('src', imageFullPath);
                                } else {
                                    $('#profileImage').attr('src', currentImageUrl);
                                    alert('Something went wrong while uploading image, Please try again.');
                                }
                            },
                            error: function (request, status, error) {
                                $('#profileImage').attr('src', currentImageUrl);
                                alert('Something went wrong while uploading image, Please try again.');
                            }
                        });
                    }
                    else {
                        alert('Image dimensions must be less than 900 X 900');
                    }
                };

            }
        });

        function IsValidateImage(imageFile) {
            var type = imageFile.type.split('/').pop().toLowerCase();
            var supportedImageTypes = ["jpeg", "jpg", "png"];

            if (supportedImageTypes.includes(type) == false) {
                alert('Please select a valid image file');
                return false;
            }

            var fileSize = (imageFile.size / 1024 / 1024).toFixed(2);
            if (fileSize > 2) {
                alert('Max Upload size is 2MB only');
                return false;
            }
            return true;
        }
        //#endregion

        //triggered when modal is about to be shown
        // $('span[data-toggle="modal"]').click(function (event) {
        //$('#editactModal').on('show.bs.modal', function (e) {
        //    $.get("/GetCategoriesById?categoryId=" + categoryId,
        //        function (data) {
        //            console.log(data);
        //            $("#editInterestsModalHeader").html(data.NameLT);
        //        });
        //});

        var numberOfInterests = '@Model.Interests.Count';

        $(document).on("click", "#editInterest", function () {

            var categoryId = $(this).data('id');

            $.get("/GetCategoriesById?categoryId=" + categoryId,
                function (data) {
                    $('#editInterestContent').html(data);
                    //$('.modal-body #editInterestsModalHeader').html(data.NameLT);
                    $('#editactModal').modal('show');
                });
        });

        // });

        $(document).on("click", "#deleteInterest", function () {
            if (numberOfInterests == '1') {
                alert('لا يمكن حذف جميع النشاطات');
                return;
            }

            $('#deleteModal').modal('toggle')

            var subCategoryId = $(this).data('id');

            $(document).on("click", "#deleteBtn", function () {
            //$("#deleteBtn").click(function (e) {
                $.get("/DeleteInterestyBysubCategoryId?subCategoryId=" + subCategoryId,
                    function (data, success, errors) {
                        if (data == "deleted Successfully") {
                            location.reload();
                        }
                        else {
                            $('#deleteModal').modal('toggle');
                        }
                    });
            });
        });
    </script>
}